# ========================
# Jekyll
# ========================

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# ========================
# Bundler
# ========================

.bundle/
vendor/bundle/
Gemfile.lock

# ========================
# Ruby
# ========================

*.gem
*.rbc
.ruby-version
.ruby-gemset

# ========================
# macOS
# ========================

.DS_Store
.AppleDouble
.LSOverride

# ========================
# Logs
# ========================

*.log

# ========================
# VS Code (optional)
# ========================

.vscode/

# ========================
# Node (if ever used)
# ========================

node_modules/